html,
body {
  height: 100%;
  background: #afc2d5;
}
body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
}
.main {
  display: flex;
}
.info {
  font-size: smaller;
  padding: 0.1em;
  margin-bottom: 0.5em;
}
.container {
  position: relative;
}
.sidebar {
  display: flex;
  margin-right: 8px;
  position: absolute;
  right: 0;
}
.order {
  border: 1px solid black;
  width: 60px;
  text-align: center;
  margin: 8px 0;
  padding-top: 4px;
  border-radius: 4px;
  background: white;
  border: none;
}
.order .name {
  font-size: 12px;
}
.progress {
  margin-top: 6px;
  height: 10px;
}
.progress-bar {
  height: 10px;
}
.timer,
.score {
  margin: 4px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.order-enter {
  opacity: 0;
  transform: scale(0);
}
.order-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}
.order-exit {
  opacity: 1;
  transform: scale(1);
}
.order-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms;
}
.score-enter {
  transform: scale(3) rotate(-20deg);
}
.score-enter-active {
  transform: scale(1) rotate(0deg);
  transition: all 300ms;
}
.mute {
  height: 1.2em;
  width: auto !important;
  margin-left: 1.2em;
}
.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  background: white;
  border: 2px solid black;
  padding: 1em;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  font-size: 20pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3em;
}
.recipes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}
.recipes textarea {
  flex: 1;
}
